rect {
  fill: none;
  pointer-events: all;
}

.node {
  circle {
    cursor: pointer;
    stroke: #ccc;
    stroke-width: 1px;
  }
  text {
    font: 12px FontAwesome;
    pointer-events: none;
    text-anchor: middle;
    fill: #555;
  }
}
.link {
  stroke: #999;
}


