rect {
  fill: none;
  pointer-events: all;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  text {
    font: 12px helvetica;
    stroke-width: .5px;
    stroke: #555;
  }
}
.link {
  stroke: #999;
}
.edgelabel {
  font: 8px helvetica;
  stroke-width: .5px;
}
.CONTRIBUTOR {
  stroke: #090;
}
.MEMBER {
  stroke: #009;
}
